<div class="node-container">
    <div class="node-header" (click)="toggle()">
        <span class="toggle-icon">{{ expanded ? '▼' : '▶' }}</span>
        <span class="node-type">{{ node.type }}</span>
        <span *ngIf="hasValue(node)" class="node-value">: {{ getValue(node) }}</span>
    </div>
    <div class="node-children" *ngIf="expanded">
        <div *ngFor="let key of getKeys(node)">
            <div class="property-row">
                <span class="property-key">{{ key }}:</span>
                <ng-container *ngIf="isNode(node[key])">
                    <app-ast-node [node]="node[key]"></app-ast-node>
                </ng-container>
                <ng-container *ngIf="isNodeList(node[key])">
                    <div class="list-container">
                        <div *ngFor="let item of node[key]; let i = index">
                            <span class="list-index">[{{i}}]</span>
                            <app-ast-node [node]="item"></app-ast-node>
                        </div>
                    </div>
                </ng-container>
                <span *ngIf="!isNode(node[key]) && !isNodeList(node[key])" class="primitive-value">
                    {{ node[key] }}
                </span>
            </div>
        </div>
    </div>
</div>